body {
      font: 400 20px Times New Roman, Arial, Arial Nova Light, sans-serif;
      line-height: 1.8;
      color: #818181;
}
h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
} 
.jumbotron {
      background-color: #4f0000;
      color: #fff;
      padding: 100px 25px;
      font-family: Times New Roman, sans-serif;
}
.container-fluid{
  padding-top: 70px;
}
.bg-grey {
  background-color: #f4f4f4;
}
.logo-brand{
  margin-bottom: 0;
  grid-auto-rows: auto;
  width: 50px;
  color: #164b64;
}
/*.logo-small {
  color:#164b64;
  font-size: 50px;
}*/
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.carousel-inner{
  width: 95%;
  height: auto;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(79,0,0)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(79,0,0)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators li {
      border-color: #4f0000;
}
.carousel-indicators li.active {
      background-color: #4f0000;
}
.item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
.item span {
      font-style: normal;
}
.panel {
      border: 1px solid #4f0000; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
}
.panel:hover {
      box-shadow: 5px 0px 40px  ;
}
.panel-footer .btn:hover {
      border: 1px solid #004f4f;
      background-color: #fff !important;
      color: #4f0000;
}
.panel-heading {
      color: #fff !important;
      background-color: #4f0000 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
}
.panel-footer {
      background-color: white !important;
}
.panel-footer h3 {
      font-size: 32px;
}
.panel-footer h4 {
      color: #aaa;
      font-size: 14px;
}
.panel-footer .btn {
      margin: 15px 0;
      background-color: #004f4f;/*99e265 514fcc 3d3d6c*/
      color: #fff;
}
.navbar {
      margin-bottom: 0;
      background-color: #004f4f;/* 3d3d6c*/
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      /*line-height: 1.42857143 !important;*/
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #164b64 !important;
}
.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
}
.footer {
      color: #fff;
}
.myimage{
  resize: all;
  min-width: 75px;
  max-width: 275px;
}
.logo-footer{
  margin-top: 0px;
  margin-bottom: 30px
  height: auto;
}
.slideanim {
      color: #164b64;
      visibility: unset;
}
.slidean{
      visibility: unset;
      color: #164b64;
}
.slide {
      color: #164b64;
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
}
.rede-social{
  color: #fff;
  margin-right: 10px;
}
.card {
    box-shadow: 1px 1px 1px rgb(197, 193, 193);
}
.card-subtitle {
    margin-bottom: 10px;
}
:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
[dark-theme="dark"]{
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 2000px){
  .slidean{
    font-size: 230px;
  }
  .slideanim{
    font-size: 110px;
  }
  .logo-footer{
    width: 330px;
  }
  .card {
    margin-top: 40px;
  }
  .ultimato-row {
    margin-bottom:60px;
  }
  .ultimato-card {
    margin-bottom:60px;
  }
  .rede-social{
    margin-top: 70px;
    padding-right: 30px;
    font-size: 65px;
  }
}
@media screen and (max-width: 1440px){
  /*.slidean{font-size: 135px;}*/
  .slideanim{font-size: 135px;}
  .logo-footer{width: 180px;}
  .card {
    margin-top: 20px;
  }
  .ultimato-row {
    margin-bottom: 40px;
  }
  .ultimato-card {
    margin-bottom:60px;
  }
  .rede-social{
    font-size: 45px;
  }
  .myimage{
    position: sticky;
    page-break-before: all;  
    width: 185px;
  }
}
@media screen and (max-width: 1024px){
  .slidean{font-size: 120px;}
  .slideanim{font-size: 120px;}
  .logo-footer{width: 180px;}
  .card {
    margin-top: 20px;
  }
  .ultimato-row {
    margin-bottom: 20px;
  } 
  .ultimato-card {
    margin-bottom: 20px;
  }
  .rede-social{
    font-size: 35px;
  }
}
@media screen and (min-width: 620px) and (max-width: 780px){
  /*.slidean{display: none;}*/
  .slideanim{font-size: 120px;}
  .card {
    margin-top: 60px;
  }
  .ultimato-card {
    margin-bottom:60px;
  } 
  .col-sm-4 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }
  .col-sm-6 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .logo-footer{
    width: 120px;
  }
  .rede-social{
    font-size: 34px;
  }
}
@media screen and (max-width: 480px) {
  .slidean{display: none;}
  .slideanim{font-size: 6rem}
  .logo {font-size: 150px;}  
  .logo-footer{width: 100px}
  .card {
    margin-top: 50px;
  }
  .ultimato-card {
    margin-bottom:50px;
  }
  .rede-social{
    font-size: 27px;
  }
}
@media screen and (max-width: 320px){
  .slidean{display: none;}
  .slideanim{font-size: 20px;}
  .card {
    margin-top: 80px;
  }
  .ultimato-card {
    margin-bottom: 50px;
  }
  .rede-social{
    font-size: 22px;
  }
}